<div class="view-header">
    <div class="view-title">
        <div class="view-icon">
            <i class="fas fa-tags"></i>
        </div>

        <div>
            <h2>Categorías</h2>
        </div>
    </div>

    <button class="app-btn app-btn-primary" onclick="categoriesView.openAddCategory()">
        <i class="fas fa-plus"></i> Nuevo
    </button>
</div>
<div class="card">
    <div class="table-responsive">
        <table class="products-table">
            <thead>
                <tr>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>¿ Tiene variantes ?</th>
                    <th>Fecha</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody id="categoriesTableBody"></tbody>
        </table>
        <div id="categoriesEmpty" class="empty-state" style="display:none">
            <i class="fas fa-folder-open"></i>
            <span>No hay categorías</span>
        </div>
    </div>
</div>
